/* inizio modifiche  */
.contatoreQuestion {
  font-size: 40px;
  text-transform: uppercase;
}
.contatoreQuestion p {
  text-transform: uppercase;
}
.coloreContatore {
  color: #d20094;
}
.Question h1 {
  font-size: 80px;
}
.contenitoreRisposte {
  margin: 150px 0px;
}
.contenitoreRisposte button {
  background: linear-gradient(to right, #3a0a4b, #59226d);
  box-shadow: -4px -3px 6px white;
  height: 100px;
  width: 500px;
  margin: 15px 70px;
  border-radius: 150px;
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.contenitoreRisposte button:hover,
.button-question:hover {
  background: linear-gradient(to right, #59226d, #d20094);
}

.external-circle {
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  margin-left: 75%;
  background: linear-gradient(to right, #00ffff 0%, grey 0%);
  mask-image: radial-gradient(circle at center, transparent 50px, white 51px);
  text-align: center;
  display: inline-block;
}

.text-circle {
  margin-block: 2em;
  margin-left: 75%;
}
.progress-textP {
  font-size: 0.5em;
}
.progress-textH4 {
  font-size: 2em;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
}

.button-question {
  border: 1px solid white;
  color: white;
  height: 100px;
  width: 500px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 2em;
}
