/* inizio modifiche  */
main {
  text-align: center;
}
.contatoreQuestion {
  font-size: 40px;
  text-transform: uppercase;
}
.contatoreQuestion p {
  text-transform: uppercase;
  margin-top: 45px;
}
.coloreContatore {
  color: #d20094;
}
.Question h1 {
  font-size: 80px;
}
.contenitoreRisposte {
  margin: 100px 240px;
}
.contenitoreRisposte button {
  background: linear-gradient(to right, #3a0a4b, #59226d);
  box-shadow: -1px -1px 3px white;
  height: 100px;
  width: 400px;
  margin: 20px 50px;
  border-radius: 150px;
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.contenitoreRisposte button:hover,
.button-question:hover {
  background: linear-gradient(to right, #59226d, #d20094);
}

.external-circle {
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  margin-left: 90%;
  background: linear-gradient(to right, #00ffff 0%, grey 0%);
  text-align: center;
  display: inline-block;
}
.internal-circle {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  margin-block: 1.6em;
  background: radial-gradient(#59226d, black);
  text-align: center;
  display: inline-block;
}
.text-circle {
  margin-block: 2em;
}
.progress-textP {
  font-size: 0.5em;
}
.progress-textH4 {
  font-size: 2em;
}
.button-question {
  border: 1px solid white;
  color: white;
  height: 100px;
  width: 500px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 2em;
}
footer {
  text-align: center;
  display: inline-flex;
}
footer button {
  text-align: center;
  height: 150px;
  width: 455px;
}
#show-result-button {
  margin-left: 300px;
  font-size: 32px;
  background-color: #00ffff;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 60px #0ae3eb;
  border: 0;
}
