* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;

  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  display: grid;
}
header,
main {
  margin-block: 3em;
  margin-inline: 8em;
  text-align: center;
  line-height: normal;
}
header div img {
  width: 15%;
  height: auto;

  display: block;
}
